<div class="page">
  <header class="page__header">
    <div class="l-wrapper">
      <div class="contacts">
        <div class="contacts__uppercase">
          Связаться со мной
          @if (contacts().phone) {
            <a [href]="'tel:' + contacts().phone">{{ contacts().phone }}</a>
          }
          @if (contacts().telegram) {
            <a [href]="'https://t.me/' + contacts().telegram" target="_blank">Telegram</a>
          }
          @if (contacts().whatsapp) {
            <a [href]="'https://wa.me/' + contacts().whatsapp" target="_blank">WhatsApp</a>
          }
        </div>
        <div class="contacts__lowercase">Пн - Сб 10:00-20:00</div>
      </div>
    </div>
    <div class="l-wrapper">
      <app-logo class="page__logo"></app-logo>
    </div>
    <div class="l-wrapper">
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" routerLink="/">Главная</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" routerLink="/" (click)="animateScroll()"> Проекты </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" routerLink="/prices">Стоимость</a>
        </li>
      </ul>
    </div>
  </header>
  <main>
    <div class="l-wrapper">
      @if (!isHomePage && title) {
        <app-header class="page__title" [title]="title"></app-header>
      }
      <ng-content></ng-content>
    </div>
  </main>
</div>
