<aside>
  <div class="sidebar__content">
    <ul>
      <li>
        <a routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{ exact: true }">
          Главная
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="portfolio">Портфолио</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="video">Видео проходки</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="contacts">Контакты</a>
      </li>
    </ul>
  </div>
  <footer class="sidebar__footer">
    Сайт не от <a href="https://yana-katunova.ru/" target="_blank">wfolio</a>
  </footer>
</aside>
