test.kira-sekira.ru {
    reverse_proxy site:4000
}

studio.kira-sekira.ru {
    reverse_proxy studio:3000
    request_body {
        max_size 50MB
    }
}

yana.kira-sekira.ru {
    reverse_proxy models:4201
}
