@import '../../../styles/variables';
@import '../../../styles/smartgrid';

.home-page {
  &__item {
    @include row-flex();
    font-family: var(--font-first);
    color: var(--title-color);
    font-size: 38px;
    letter-spacing: 0.1em;
    line-height: 1.1;
  }

  &__title {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;

    @media (max-width: 1000px) {
      font-size: 24px;
    }
  }

  &__image {
    @include col();
    @include col-size(14.4);

    @media (max-width: 1400px) {
      @include col-size(12);
    }

    @media (max-width: 1000px) {
      @include col-size(24);
    }
  }

  img {
    max-width: 100%;
    max-height: 600px;
  }

  &__content {
    @include col();
    @include col-size(9.6);
    padding-left: 20px;
    font-size: 30px;
    letter-spacing: 0.1em;
    line-height: 2;

    @media (max-width: 1400px) {
      @include col-size(12);
      line-height: 1.5;
    }

    @media (max-width: 1000px) {
      @include col-size(24);
      padding-left: 0;
      font-size: 24px;
    }
  }
}
