<app-page
  title="Проекты"
  [tags]="cloud"
  [activeTag]="activeTag"
  (visible)="onVisible($event)"
>
  <div class="home-page">
    <div class="home-page__item">
      <div class="home-page__image">
        <img
          ngSrc="/assets/images/about.jpg"
          alt="Фотограф в Москве Kira Sekira"
          height="682"
          width="1030"
        />
      </div>
      <div class="home-page__content">
        — Специалист визуального искусства
        <br />
        — Опыт работы 3 года
        <br />
        — Твой проводник в мир космической фотографии
        <br />
        — Раскрываю твой внутренний стержень
        <br />
        — Создаю тонкую грань между тобой и искусством
      </div>
    </div>
    <div id="projects" class="home-page__item">
      <div class="home-page__title">Фотограф в Москве Kira Sekira</div>
    </div>
    <app-project-list [projects]="visibleProjects"></app-project-list>
  </div>
</app-page>
