@import '../../../styles/variables';

.prices-page {
  display: flex;
  column-gap: 40px;
  margin-bottom: 40px;
  color: $bgColor;

  @media (max-width: 800px) {
    flex-direction: column;
  }

  ul {
    margin: 0;
  }

  &__item {
    flex: 1;
  }

  &__item + &__item {
    @media (max-width: 800px) {
      margin-top: 20px;
    }
  }

  &__title {
    font-family: $fontSecond;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-align: center;

    & > * {
      margin-top: 20px;
    }

    @media (max-width: 800px) {
      text-align: left;
    }
  }

  &__item,
  &__text {
    & > * {
      margin-top: 10px;
    }
  }

  img {
    max-width: 100%;
    margin: 30px 0;
  }
}
