<app-page>
  <div class="prices-page">
    <div class="prices-page__item">
      <div class="prices-page__title">
        <div>5 000</div>
        <div>СТАНДАРТ</div>
        <img src="/images/prices-standart.jpg" alt="Стандарт" />
      </div>
      <div class="prices-page__text">
        <ul>
          <li>
            1 часовая съёмка (для студийной фотосессии фактическое время съемки
            40-45 минут, почему - ниже*)
          </li>
          <li>2 образа комфортно снять за это время</li>
          <li>все получившиеся кадры (30+) в цветокоррекции</li>
          <li>
            детальная ретушь и художественная обработка с применением эффектов
            фотошопа 12 фото (все фото отдаются в цвете + бонус: ч/б версия)
          </li>
          <li>Обработка материала 1-2 недели</li>
        </ul>
        <div>
          *Когда мы приходим в студию, мы предполагаем, что будем сниматься от и
          до указанного часа. Это не так, у какого фотографа вы бы ни снимались.
          Зал студии всегда освобождается за 5 минут до окончания бронирования,
          общие 10 минут занимают переодевания между сценами,
          <br />
          3-5 минут - настройка/смена световых схем, а ваше привыкание к камере,
          из опыта, происходит и вовсе после 15 мин съёмки. Поэтому этот вариант
          съёмки я называю - экспресс.
        </div>
        <div>
          Экспресс подходит тем, кто:
          <ul>
            <li>снимается не впервые;</li>
            <li>быстро раскрепощается перед камерой;</li>
            <li>хочет решить одну-две задачи за съёмку;</li>
          </ul>
          Более комфортным и рекомендуемым является пакет ПРЕМИУМ.
        </div>
        <div>
          <strong>ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ:</strong>
          <br />
          Дополнительная ретушь - 1 фото/300р.
          <br />
          Повышенная срочность обработки материала (2 дня) 2000р.
        </div>
        <div>*Студия оплачивается клиентом (1800-3000 р/час)</div>
      </div>
    </div>
    <div class="prices-page__item">
      <div class="prices-page__title">
        <div>7 000</div>
        <div>ПРЕМИУМ</div>
        <img src="/images/prices-premium.jpg" alt="Премиум" />
      </div>
      <div class="prices-page__text">
        <ul>
          <li>2 часовая съёмка</li>
          <li>4 образа комфортно снять за это время</li>
          <li>все получившиеся кадры (60+) в цветокоррекции</li>
          <li>
            детальная ретушь и художественная обработка с применением эффектов
            фотошопа 25 фото (все фото отдаются в цвете + бонус: ч/б версия)
          </li>
          <li>Обработка материала 1-2 недели</li>
        </ul>
        <div>
          <strong>ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ:</strong>
          <br />
          Дополнительная ретушь - 1 фото/300р.
          <br />
          Повышенная срочность обработки материала (2 дня) 2000р.
        </div>
        <div>
          В данном пакете возможно заказать видеоролик (снимается одновременно)
          - 1500р.*
          <br />
          Студия оплачивается клиентом (1800-3000 р/час)
        </div>
        <div>
          <strong>ВАЖНО:</strong>
          <br />
          Оплата производится в день съёмки.
        </div>
      </div>
    </div>
  </div>
</app-page>
