POSTGRES_HOST="localhost" # deploy: postgres
POSTGRES_PASSWORD=postgres

# Payload
DATABASE_URL=postgres://postgres:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5433/studio
PAYLOAD_SECRET=payload
SERVER_URL=http://studio.localhost:3000
