@import './fonts';
@import 'variables';
@import './smartgrid';

html,
body,
#app {
  margin: 0;
  min-height: 100vh;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $fontDefault;
  color: $defaultColor;
}
#app {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}
.l-wrapper {
  @include wrapper();
}
