@use "@material/image-list/mdc-image-list";
@use "@material/image-list";
@import 'lightgallery/css/lightgallery';
@import './fonts';
@import './variables';
@import './smartgrid';

.picture-list-masonry {
  @include image-list.masonry-columns(3, 20);
}

html,
body,
app-root {
  margin: 0;
  min-height: 100vh;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $fontDefault;
  color: $defaultColor;
}
app-root {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}
.l-wrapper {
  @include wrapper();
}
