<nav class="navbar">
  <div class="navbar__content">
    <a href="/" class="navbar__logo">Модель</a>

    <ul class="navbar__nav">
      <li>
        <button
          class="navbar__link"
          [class.active]="activeSection() === 'hero'"
          (click)="scrollToSection('hero')"
          type="button"
        >
          Главная
        </button>
      </li>
      <li>
        <button
          class="navbar__link"
          [class.active]="activeSection() === 'portfolio'"
          (click)="scrollToSection('portfolio')"
          type="button"
        >
          Портфолио
        </button>
      </li>
      <li>
        <button
          class="navbar__link"
          [class.active]="activeSection() === 'videos'"
          (click)="scrollToSection('videos')"
          type="button"
        >
          Видео
        </button>
      </li>
      <li>
        <button
          class="navbar__link"
          [class.active]="activeSection() === 'contacts'"
          (click)="scrollToSection('contacts')"
          type="button"
        >
          Контакты
        </button>
      </li>
    </ul>
  </div>
</nav>
