<ngx-particles [options]="options"></ngx-particles>

<!--<div-->
<!--  id="particles-js"-->
<!--  class="background"-->
<!--  color="#99a1b3"-->
<!--  particleopacity="0.7"-->
<!--  linescolor="#99a1b3"-->
<!--  particlesnumber="80"-->
<!--  shapetype="circle"-->
<!--  particlesize="4"-->
<!--  lineswidth="1"-->
<!--  linelinked="true"-->
<!--  lineopacity="0.4"-->
<!--  linesdistance="150"-->
<!--  movespeed="3"-->
<!--  hovereffect="true"-->
<!--  hovermode="grab"-->
<!--  clickeffect="true"-->
<!--  clickmode="push"-->
<!--/>-->
