@import '../../../styles/variables';

.page-title {
  display: flex;
  column-gap: 20px;
  align-items: center;

  &__back {
    cursor: pointer;
  }

  &__name {
    color: var(--title-color);
    font-size: 40px;
    margin: 0;
    font-family: var(--font-first);

    @media (max-width: 600px) {
      font-size: 30px;
    }
  }
}
