@if (model(); as m) {
  <div class="main-page">
    <div class="main-page__header">
      <h1 class="main-page__name">{{ m.fullName }}</h1>
      @if (m.mainPhoto) {
        <img class="main-page__photo" [src]="m.mainPhoto.url" [alt]="m.fullName" />
      }
    </div>
    <div class="main-page__content">
      <app-model-info [parameters]="m.parameters" [contacts]="m.contacts"></app-model-info>
      @if (m.about) {
        <div class="main-page__about">
          <h3>О себе</h3>
          <p>{{ m.about }}</p>
        </div>
      }
    </div>
  </div>
} @else {
  <p class="loading">Загрузка...</p>
}
