@if (model(); as m) {
  <h1>{{ m.fullName }}</h1>
  @if (m.mainPhoto) { <img [src]="m.mainPhoto.url" style="max-width:300px;"/> }
  @if (m.parameters) {
    <ul>
      <li>Рост: {{ m.parameters.height }}</li>
      <li>Вес: {{ m.parameters.weight }}</li>
      <li>Грудь: {{ m.parameters.chest }}</li>
      <li>Талия: {{ m.parameters.waist }}</li>
      <li>Бёдра: {{ m.parameters.hips }}</li>
    </ul>
  }
  @if (m.videos?.length) {
    <h3>Видео</h3>
    <ul>
      @for (v of m.videos; track $index) {
        <li><a [href]="v.url" target="_blank">Видео {{ $index + 1 }}</a></li>
      }
    </ul>
  }
} @else {
  <p>Загрузка...</p>
}
