.contacts-page {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem 1rem;

  &__name {
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Merriweather', serif;
    margin-bottom: 2rem;
    text-align: center;
  }
}
