$color1 = #000000
$color2 = #b6dcff
$color3 = #b9b6e5
$color4 = #101431
$color5 = #dd0000
$color6 = #ffffff
$color7 = #99a1b3

$defaultColor = $color7 // цвет сетки
$bgColor = $color1 // цвет фона
$tagColor = $color6 // заголовок тегов и теги в карточке
$activeTagColor = $color5 // активный тег
$titleColor = $color4 // цвет лого и заголовки
$hoverCard = $color3 // активный проект
$projectCard = $color6 // проект
$newBgColor = linear-gradient(0deg, #b6dcff 0%, #b9b6e5 100%)
