<app-page>
  <div class="prices-page">
    @if (loading()) {
      <p class="prices-page__loading">Загрузка...</p>
    } @else if (error()) {
      <p class="prices-page__error">{{ error() }}</p>
    } @else if (prices().length) {
      @for (item of prices(); track item.id) {
        <div class="prices-page__item">
          <div class="prices-page__title">
            <div>{{ item.price }}</div>
            <div>{{ item.name }}</div>
            @if (item.image_url) {
              <img [src]="item.image_url" [alt]="item.name" />
            }
          </div>
          <div class="prices-page__text">
            @if (item.description) {
              <div [innerHTML]="item.description"></div>
            }
          </div>
        </div>
      }
    } @else {
      <p>Услуги не найдены</p>
    }
  </div>
</app-page>
